@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&display=swap');

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

img {
    max-width: 100%;
}

body{
    background-color: white;
    font-family: 'Great Vibes', cursive;
    font-family: 'Montserrat', sans-serif;
    color: rgb(32, 32, 32)
}

/* -------------------- HEADINGS AND TYPE */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

/* header module */

.header-image{
    position: relative;
}

.header-image h1{
    color: white;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 800%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: white;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

/* -------------------- NAVIGATION */

/* gallery */

  .first {
    color: gray;
  }
  .first:hover {
    color: rgb(32, 32, 32);
  }


  .second {
    color: gray;
  }
  .second:hover {
    color: rgb(32, 32, 32);
  }


  .third {
    color: gray;
  }
  .third:hover {
    color: rgb(32, 32, 32);
  }

  

 .pictures1 {
  display: grid;
  grid-template-columns:  auto auto ;
  gap: 50px;
  padding-left: 3%;
  padding-right: 3%;
 } 
  
  @media screen and (min-width: 600px) {
    
    .pictures1 {
      
      grid-template-columns:  auto auto auto auto;
      max-width:1000px;
      margin-left: auto;
      margin-right: auto;
    
      
    }
}



     .fourth {
        color: gray;
      }
      .fourth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .fifth {
        color: gray;
      }
      .fifth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .sixth {
        color: gray;
      }
      .sixth:hover {
        color: rgb(32, 32, 32);
      }
    
      
      
      @media screen and (min-width: 600px) {
        
        .pictures2 {
          display: grid;
          grid-template-columns:  auto auto auto;
          max-width:1000px;
          margin-left: auto;
          margin-right: auto;
          grid-gap: 50px;
        }    
    }







    .seventh {
        color: gray;
      }
      .seventh:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .eighth {
        color: gray;
      }
      .eighth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .nineth {
        color: gray;
      }
      .nineth:hover {
        color: rgb(32, 32, 32);
      }
    
      
      
      @media screen and (min-width: 600px) {
        
        .pictures3 {
          display: grid;
          grid-template-columns:  auto auto auto;
          max-width:1000px;
          margin-left: auto;
          margin-right: auto;
          grid-gap: 50px;
        }    
    }


    @media screen and (min-width: 600px) {
        
        .about {
          display: grid;
          grid-template-columns:  auto auto;
          max-width:1000px;
          margin-left: auto;
          margin-right: auto;
          grid-gap: 50px;
        }    

        .about-text{
            grid-template-rows: auto auto;
        }
    }
/* -------------------- FOOTER */

.footer {
    text-align: center;
    color: gray;
    background-color: rgb(32, 32, 32);
    padding: 50px;
}

/* -------------------- MODULES */