@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&display=swap');

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

img {
    max-width: 100%;
}

body{
    background-color: whitesmoke;
    font-family: 'Great Vibes', cursive;
    font-family: 'Montserrat', sans-serif;
    color: rgb(32, 32, 32)
}

/* -------------------- HEADINGS AND TYPE */
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
  p,
  h2,
  h3,
  h4,
  h5 {
      font-size:70%;
  }

}

/* -------------------- HEADER */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: grey;
  font-size: 17px;
  list-style: none;
  font-family: 'Great Vibes', cursive;
}


.header a{
  text-decoration: none;
  color: gray;
}


@media screen and (min-width: 800px) {
  header a{
    font-size: 200%;
  }

}

@media screen and (max-width: 800px) {
  header a{
    font-size: 140%;
  }

}

/* header module */

.header-image{
    position: relative;
    padding: 0%;
}

.header-image h1{
    color: white;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 800%;

    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0;
    height: 100%;
}

@media screen and (max-width: 800px) {

  .header-image h1{
    font-size: 300%;
  }


}

/* -------------------- LAYOUTS */

.layout-wide {
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

/* -------------------- NAVIGATION */

.nav-prompt{
  cursor: pointer;

  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  width: 100%;
  color: grey;
  border-bottom-width: 2px;
  border-bottom-style:solid;
  border-bottom-color: lightgrey;
  padding-top: 16px;
  padding-bottom: 16px;
}
.nav-prompt:hover {
  color: rgb(32, 32, 32);
}


.main-nav {
  list-style: none;
  padding:0%
}

.main-nav li {
  text-align: center;
  padding:16px
}

.main-nav a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* Changing color of links on hover */
.main-nav a:hover {
  color: rgb(32, 32, 32);
}

.main-nav li a.current{
  color: rgb(32, 32, 32);
}

/* colour of the active/current link */
.main-nav .active {
  color: rgb(32, 32, 32);
}

/* MOBILE VIEW ONLY nav button */
@media screen and (max-width: 800px) {

  .nav-inner {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-inner.open{
    max-height: 100vh;
  }

}

/* hiding nav button in desktop */
@media screen and (min-width: 800px) {
  
  .nav-prompt{
    display:none;
  }
  .main-nav{
    display: flex;
    justify-content: space-between;
  }
}

/* gallery */

.gallery {
  display:grid;
  grid-template-columns:  auto auto ;
  grid-template-rows: auto;
  gap: 1rem;
  padding-left: 3%;
  padding-right: 3%;

}

.gallery img {
  justify-content: space-between;
  transition: 0.2s;
  filter:grayscale();
}
.gallery a:hover img{
  transform: scale(0.95);
  filter: none;
}

@media screen and (min-width: 800px) {
    
  .gallery {
    
    grid-template-columns:  auto auto auto;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
  
    
  }
}  

.pictures1 {
  display:grid;
  grid-template-columns:  auto auto ;
  grid-template-rows: auto;
  gap: 1rem;
  padding-left: 3%;
  padding-right: 3%;
} 
  
@media screen and (min-width: 800px) {
    
  .pictures1 {
      
    grid-template-columns:  auto auto auto;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    
      
   }
}
      
.about {
  display: grid;
  gap: 2px;
  padding-left: 3%;
  padding-right: 3%;
  grid-gap: 5px;
}    


  @media screen and (min-width: 800px) {
        
    .about {
      display: grid;
      grid-template-columns:  auto auto;
      max-width:1000px;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 50px;
    }    

    .about-text{
      grid-template-rows: auto auto;
    }
    
  }
/* -------------------- FOOTER */

.footer {
    text-align: center;
    color: gray;
    
    padding: 20px;
}

/* -------------------- MODULES */