@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

img {
    max-width: 100%;
}

body{
    background-color: white;
    font-family: 'Oswald', sans-serif;
    color: rgb(32, 32, 32)
}

/* -------------------- HEADINGS AND TYPE */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

/* header module */

.header-image{
    position: relative;
}

.header-image h1{
    color: white;
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 800%;
}

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: white;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- NAVIGATION */
/* navigation bar colour */
.topnav {
    background-color: whitesmoke;
    overflow: hidden;
  }
  
  /* link customisaitons */
  .topnav a {
    float: left;
    color: gray;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Changing color of links on hover */
  .topnav a:hover {
    color: rgb(32, 32, 32);
  }
  
  /* colour of the active/current link */
  .topnav a.active {
    color: rgb(32, 32, 32);
  }

/* gallery */

  .first {
    color: gray;
  }
  .first:hover {
    color: rgb(32, 32, 32);
  }


  .second {
    color: gray;
  }
  .second:hover {
    color: rgb(32, 32, 32);
  }


  .third {
    color: gray;
  }
  .third:hover {
    color: rgb(32, 32, 32);
  }

  
  
  @media screen and (min-width: 600px) {
    
    .pictures1 {
      display: grid;
      grid-template-columns:  auto auto auto;
      max-width:1000px;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 50px;
    }
}



     .fourth {
        color: gray;
      }
      .fourth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .fifth {
        color: gray;
      }
      .fifth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .sixth {
        color: gray;
      }
      .sixth:hover {
        color: rgb(32, 32, 32);
      }
    
      
      
      @media screen and (min-width: 600px) {
        
        .pictures2 {
          display: grid;
          grid-template-columns:  auto auto auto;
          max-width:1000px;
          margin-left: auto;
          margin-right: auto;
          grid-gap: 50px;
        }    
    }







    .seventh {
        color: gray;
      }
      .seventh:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .eighth {
        color: gray;
      }
      .eighth:hover {
        color: rgb(32, 32, 32);
      }
    
    
      .nineth {
        color: gray;
      }
      .nineth:hover {
        color: rgb(32, 32, 32);
      }
    
      
      
      @media screen and (min-width: 600px) {
        
        .pictures3 {
          display: grid;
          grid-template-columns:  auto auto auto;
          max-width:1000px;
          margin-left: auto;
          margin-right: auto;
          grid-gap: 50px;
        }    
    }
/* -------------------- FOOTER */

.footer {
    text-align: center;
    color: gray;
    background-color: rgb(32, 32, 32);
    padding: 50px;
}

/* -------------------- MODULES */